<h1>Editando sucursal: <%= @sucursal.sucursal_name%></h1>

<br/>

<%= render 'form', sucursal: @sucursal %>

<br/>
<br/>

<h2>Empleados de: <%= @sucursal.sucursal_name %></h2>
<%= render 'empleados_list', empleado: @empleados %>