.small-container{
  width: 100%;
  max-width: 650px;
}

.larger-container{
  width: 100%;
  max-width: 960px;
  
}

a:hover {
  background-color: transparent;
}

.container-log {
  width: 120px;    
}

.center-block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;    
}

.padding {
  padding: 10px 15px;
}

.margin-top{
  margin-top: 1.5em;
}